<h1>Edit Review</h1>


<div class="form-group">

<%= form_for @place, url: {action: "update"} do |f| %>
    
    <%= f.label :name, 'Place Name'%><br>
    <%= f.text_field :name %>
    <br>

    <%= f.label :desc, 'Review'%><br>
    <%= f.text_area :desc %>
    <br>

    <%= f.label :city, 'City'%><br>
    <%= f.text_field :city %>
    <br>

    <%= f.label :image, 'Image'%><br>
    <%= f.text_area :image %>
    <br>

    <%= f.label :location, 'Location'%><br>
    <%= f.text_area :location %>
    <br><br>
    

    <%= f.submit "Update" , data: {confirm: "Are you sure?"}, :class => "btn btn-outline-info"%> 

    <br>

<% end %>

</div>
<button> <%= link_to "Back", place_path %> </button>