<h1>Your Reviews</h1>


<div class="d-flex flex-wrap justify-content-around ">
  
<% @places.each do |place|%>

    <div class="p-2 card " id="p">

            <div class="d-flex flex-column flex-wrap align-items-center ">
                    
                    <div class="p-2">
                    <img src=<%=place.image%> height="200" width="290">
                    </div>

                    <div class="p-2">
                    <%= place.name %> @ <%= place.city %>  
                    </div>

                    <div>
                    <button><%= link_to "Details", place_path(place.id)%></button>
                    </div>

            </div>

    </div>

<% end %>

</div>


<br><br>
<button><%= link_to "Back", places_path %></button>